# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# macOS
.DS_Store
*.swp
*~

# IDE
*.idea/
*.vscode/

# Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Provisioning profiles
*.mobileprovision
*.provisionprofile

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
